# Ignore Emacs backup files, swap files, and OS X metadata
*~
.*.sw?
.DS_Store

# Ignore IDE-specific files and directories
.idea/
*.iml

# Ignore bundler config
.bundle/

# Ignore SQLite databases and migrations
/db/*.sqlite3*
/db/migrate/*.rb

# Ignore logs, tempfiles, and pids, but keep the directories
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep

# Ignore the master key for decrypting credentials and more
/config/master.key
